{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["transform-react-jsx"],
    "babel-plugin-add-module-exports"
  ]
}
