{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "7.10.0"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "transform-react-jsx"
    ],
    "babel-plugin-add-module-exports"
  ]
}
